@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

header{
    background-image: url('images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    padding: 3% 0;
}

h1{
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

form{
    text-align: center;
    margin-top: 30px;
}

input{
    padding: 20px;
    border-radius: 10px 0 0 10px;
    border: 1px solid;
    width: 35%;
}

button{
    border: 1px solid;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    background-color: #000000;
    margin-left: -5px;
}

button i{
    color: #ffffff;
}

.baner{
    position: absolute;
    top: 30vh;
    width: 100%;
    padding: 20px;
}

.info{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    padding: 5%;
}

.info article{
    width: 15%;
}
